{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        "preval",
        [
            "styled-components",
            {
                "ssr": true
            }
        ],
        "inline-react-svg"
    ]
}